.num-btn {
  width: 88px;
  height: 52px;
  border: 2px solid #000000;
  background-color: transparent;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.num-btn--doubled {
  width: 186px;
}

.num-btn:focus {
  background-color: #000000;
  color: #ffffff;
  outline: none;
}
